.CategoryList button {
    background-color: rgb(212, 108, 43);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px;
    border-radius: 15px;
}

.CategoryList button:hover:not(.active) {
  cursor: pointer;
}

.CategoryList button.active {
  background-color: rgb(71,119,147);
  border: 2px solid rgb(212, 108, 43)
}